.backdrop {
  position: fixed;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
}

.backdrop::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  opacity: 0.9;
  z-index: -5;
}

.winner {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}

.winner h1 {
  font-family: low_budget;
  font-size: 86px;
  color: #eab308;
  text-align: center;
}

@media (min-width: 768px) {
  .winner h1 {
    font-size: 192px !important;
  }
}

.winner h2 {
  font-size: 32px;
  color: #fed7aa;
  margin-bottom: 130px;
}

@media (min-width: 768px) {
  .winner h2 {
    font-size: 48px !important;
  }
}

.we_tied {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}

.we_tied h1 {
  font-family: low_budget;
  font-size: 52px;
  color: #eab308;
  margin-bottom: 130px;
}

@media (min-width: 768px) {
  .we_tied h1 {
    font-size: 96px !important;
  }
}

.game_over {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}

.game_over h1 {
  font-family: low_budget;
  font-size: 48px;
  color: #eab308;
  margin-bottom: 130px;
}

@media (min-width: 768px) {
  .game_over h1 {
    font-size: 96px !important;
  }
}

.record {
  width: 100%;
  margin-top: -100px;
  margin-bottom: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.record h2 {
  color: #fff;
}
.record h3 {
  color: #eab308;
}
.record > div {
  width: 100%;
  position: relative;
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
}
.record > div :focus-within {
  outline: 3px solid #606060;
}
.record button {
  width: 100px;
  height: 50px;
  border-radius: 0 4px 4px 0;
  border: none;
  position: relative;
  background: #606060;
  cursor: pointer;
}
.record button > span {
  filter: brightness(2.98) contrast(0.23) saturate(3) sepia(0.95);
}
.record input {
  height: 40px;
  padding: 5px;
  border: none;
  width: calc(100% - 110px);
  font-size: 1rem;
  background: transparent;
  color: #242424;
}
.record input :focus {
  outline: 0;
}
@media (max-width: 768px) {
  .record button {
    width: 60px;
  }
  .record input {
    width: calc(100% - 70px);
  }
}
