.button {
  padding: 15px 80px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: block;
  margin: auto;
  width: 350px;
  max-width: 100%;
  border: none;
}

.button:hover {
  filter: brightness(0.9);
}

.secondary {
  background: #f92f60;
}

@media (min-width: 768px) {
  .button {
    padding: 25px 80px;
  }
}
