.game_area {
  width: 490px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  position: relative;
  margin: auto;
}

.game_area span {
  width: 150px;
  height: 150px;
  background: #eee;
  display: flex;
  place-items: center;
  justify-content: center;
  font-size: 32px;
  color: #242424;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 768px) {
  .game_area {
    width: 245px;
    gap: 10px;
  }

  .game_area span {
    width: 75px;
    height: 75px;
  }

  .game_area hr {
    /* display: none; */
  }
}

.game_area span.disabled {
  cursor: not-allowed;
}

.game_area span:hover {
  transform: scale(1.03);
  animation: all 0.2s;
}

.game_area hr {
  position: absolute;
  width: 215px;
  border: 10px solid #ea580c77;
  border-radius: 100px;
  z-index: 10;
}

.none {
  display: none;
}

.line_1 {
  left: 6px;
  top: 19px;
}
.line_2 {
  left: 6px;
  top: 105px;
}
.line_3 {
  left: 6px;
  top: 190px;
}
.column_1 {
  transform: rotate(90deg) translateY(79px) translateX(105px);
}
.column_2 {
  transform: rotate(90deg) translateY(-5px) translateX(105px);
}
.column_3 {
  transform: rotate(90deg) translateY(-90px) translateX(105px);
}
.diagonal_1 {
  transform: rotate(45deg) translateY(100px) translateX(50px);
  width: 300px !important;
}
.diagonal_2 {
  transform: rotate(-45deg) translateY(48px) translateX(-100px);
  width: 300px !important;
}

@media (min-width: 768px) {
  .game_area hr {
    width: 450px;
    border: 15px solid #ea580c77;
  }

  .line_1 {
    left: 5px;
    top: 52px;
  }
  .line_2 {
    left: 5px;
    top: 222px;
  }
  .line_3 {
    left: 5px;
    top: 391px;
  }
  .column_1 {
    transform: rotate(90deg) translateY(165px) translateX(220px);
  }
  .column_2 {
    transform: rotate(90deg) translateY(-5px) translateX(220px);
  }
  .column_3 {
    transform: rotate(90deg) translateY(-175px) translateX(220px);
  }
  .diagonal_1 {
    transform: rotate(45deg) translateY(205px) translateX(110px);
    width: 600px !important;
  }
  .diagonal_2 {
    transform: rotate(-45deg) translateY(105px) translateX(-205px);
    width: 600px !important;
  }
}
