.title {
  font-family: low_budget;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  line-height: 60px;
}

.title span {
  color: #f92f60;
}

@media (min-width: 350px) {
  .title {
    font-size: 42px;
  }
}

@media (min-width: 768px) {
  .title {
    margin-top: 70px;
    font-size: 92px !important;
    line-height: 50px;
  }
}

.details {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details .toggle {
  display: flex;
  gap: 15px;
}

.current_player {
  text-align: center;
}
