.title {
  font-family: low_budget;
  font-size: 48px;
  text-align: center;
  margin-top: 40px;
}

.title span {
  color: #f92f60;
}

@media (min-width: 768px) {
  .title {
    font-size: 92px !important;
  }
}

@media (max-height: 810px) {
  .title {
    margin-top: 40px;
  }
}

.details {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details .toggle {
  display: flex;
  gap: 15px;
}

.current_player {
  text-align: center;
}
