.record {
  width: 100%;
  margin: auto;
  background: #3f3f46;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 30px;
}
.record tr {
  height: 50px;
}
.record thead > tr:first-child {
  background: var(--primary);
  height: 50px;
}
.record tbody > tr:nth-child(even) {
  background: #52525b;
}
.record th,
.record td {
  padding: 0 15px;
  font-weight: normal;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .record td {
    font-size: 0.8rem;
  }
}
